.DS_Store
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.gz
*.idx
*.ilg
*.ind
*.ini
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.pyc
*.snm
*.synctex.gz
*.tdo
*.toc
*.tps
*.vrb
*.xdy
*.xml
*.fmt
*.watcher_pid